<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Location</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each folder.locations}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          <a href="/location/{{../folder._id}}/editlocation/{{_id}}" class="ui icon button">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </td>
        <td>
          <a href="/folder/{{../folder._id}}/deletelocation/{{_id}}" class="ui icon button">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
